<%= render 'layouts/header' %>

<div class='userShow'>
  <div class='container'>

    <div class='userShowBlogTitle'>
      <h1 class='text-center'>BLOG</h1>
    </div>

    <div class='row'>  
      <div class='col-8' style='border: 1px solid #000'>
        left
      </div>
      <div class='col-4' style='border: 1px solid #000'>
        right
      </div>
    </div>

  </div>
</div>
