html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
}

// fontAwesome
.fa-pen-nib, .fa-edit {
  margin-right: 5px;
}

// header, subHeader
.header {
  background-color: #fafafa;
  padding: 0 20px 0 20px;
  &_wrapper {
    height: 40px;
    width: 100%;
  }
  &_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  &_title {
    font-size: 2.5rem;
    font-weight: bold;
  }
  &_create {
    font-size: 1.4rem;
  }
  
}

.subHeader {
  height: 40px;
  width: 100%;
  padding: 0 20px 0 20px;
  &_title {
    text-align: center;
    a {
      font-size: 2.5rem;
      font-weight: bold;
      color: #000;
      text-decoration: none;
    }
    
  }
}
