html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
}

// fontAwesome
.fa-pen-nib, .fa-edit {
  margin-right: 5px;
}

// header, subHeader
.header {
  background-color: #fafafa;
  padding: 0 20px 0 20px;
  ul, li {
    list-style: none;
  }
  &_wrapper {
    height: 40px;
    width: 100%;
  }
  &_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  &_title {
    font-size: 2.5rem;
    font-weight: bold;
  }
  &_create {
    font-size: 1.4rem;
    &_nav {
      display: flex;
      position: relative;
      li > ul {
        position: absolute;
        top: 100%;
        height: 0;
        overflow: hidden;
        z-index: 20;
        padding-left: 0;
      }
      li:hover > ul {
        background-color: #fff;
        height: auto;
        width: 100%;
        left: -50%;
        border: 1px solid #a1a1a1;
        box-shadow: 0px 0px 1px;
        border-radius: 2px;
        li {
          :hover {
            background-color: #f7f7f7;
          }
        }
        a {
          display: block;
          padding: 5px 0 5px 5px;
        }
      }
      .userName {
        margin-right: 20px;
      }
      .user_icon {
        margin-right: 5px;
        border: 1px solid #000;
        border-radius: 50%;
      }
    }
  }
  
}

.subHeader {
  height: 40px;
  width: 100%;
  padding: 0 20px 0 20px;
  &_title {
    text-align: center;
    a {
      font-size: 2.5rem;
      font-weight: bold;
      color: #000;
      text-decoration: none;
    }
    
  }
}
