// NewPage
.blogNew {
  input, textarea {
    font-size: 1.6rem;
  }
  textarea {
    resize: none;
  }
  .btn-primary {
    height: 45px;
    width: 100%;
    border-radius: 10px;
  }
}

// IndexPage
.blog {
  width: 85%;
  margin: 0 auto;
  &Heading {
    border-bottom: 2px solid #eee;
    margin-top: 20px;
    font-weight: bold;
  }
  &Item {
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 15px 0;
    padding: 0 5px;
    &Content {
      min-height: 30vh;
      max-height: 30vh;
      overflow: hidden;
    }
    &Title {
      font-size: 2rem;
      font-weight: bold;
    }
    &User {
      padding-top: 10px;
    }
    &Time {
      padding-bottom: 10px;
      color: #7e7e7e;
      font-size: 1.4rem;
    }
    &Article {
      white-space: normal;
      color: #7e7e7e;
    }
    &Continued {
      text-align: right;
      padding: 0 5px 5px 0;
    }
  }
}

// blogShowPage
.blogShow {
  background-color: #fafafa;
  padding: 20px 0;
  &Blog {
    background-color: #fff;
    margin-bottom: 10px;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
  }
  &Item {
    background-color: #fff;
    min-height: calc(100vh - 200px);
    padding: 0 50px;
    &Title {
      font-size: 2rem;
      font-weight: bold;
      border-bottom: solid #eee;
      padding-bottom: 10px;
    }
    &Date {
      padding-top: 10px;
    }
    &Article {
      padding: 20px 0;
      white-space: pre-wrap;
    }
  }
  .transition {
    margin-top: 10px;
    padding: 0 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
  }
}
