// Show
.userShow {
  min-height: calc(100vh - 40px);
  background-color: #fafafa;
  &BlogTitle {
    padding-top: 3rem;
    h1 {
      font-size: 5rem;
      font-weight: bold;
    }
  }
  .userShowItem {
    margin: 30px 0;
  }
  .blogInfo {
    padding: 50px;
    background-color: #fff;
  }
  &Right {
    padding: 50px 0;
    &Profile {
      font-size: 2rem;
    }
    &Icon {
      margin: 10px;
      border: 1px solid #000;
      border-radius: 50%;
      background-color: #fff;
    }
  }
  .newArticle {
    p {
      font-size: 2rem;
    }
  }
}

// Edit
.userEdit {
  padding: 50px 0;
  width: 50%;
  margin: 0 auto;
  &Form {
    padding: 10px 0;
    input {
      font-size: 1.6rem;
    }
  }
  .btn-primary {
    height: 45px;
    width: 100%;
    border-radius: 10px;
  }
  .cancelLink {
    display: inline-block;
    margin-top: 10px;
  }
}
