.userShow {
  min-height: calc(100vh - 40px);
  background-color: #fafafa;
  &BlogTitle {
    padding-top: 3rem;
    h1 {
      font-size: 5rem;
      font-weight: bold;
    }
  }
  .userShowItem {
    margin: 50px 0;
  }
  .blogSize {
    padding: 50px;
    background-color: #fff;
  }
}
