<header class='header'>
  <div class='header_wrapper'>
    <ul class='list-unstyled header_menu'>
      <li class='header_title'>
        <%= link_to root_path do %>
          <i class="fas fa-pen-nib"></i>Tagebuch
        <% end %>
      </li>
      <li class='header_create'>
        <%= link_to new_blog_path do %>
          <i class="fas fa-edit"></i>記事作成
        <% end %>
      </li>
    </ul>
  </div>
</header>
